body{
background-color:#ECECECCE ;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


img {
    max-width: 100%;
}
header{
    background-color: #4F7088;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

header p {
    margin: 0%;
    font-weight: bold;
    color:#FFF ;
    font-size: 36px;
}

header nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 24px;

}

header a {
    text-decoration: none;
}

header nav a {
    color: #FFF ;
    font-weight: 500;
    font-size: 16px;
}

header nav a:hover {
    text-decoration: underline;
    color:#fff;
  
}

.info {
    display: grid;
    max-width: 100%;
    margin: auto;
}
.info h1 {
    color: #4F7088;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 60px */
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

.colore {
    margin-top: 64px;
    margin-bottom: 32px;
}
.container{
    max-width: 1120px;
    margin: auto;
    display: flex;
    gap: 64px;
} 

div.text p{
     color: 000;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: 150%;
    }
div.text h2{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}


footer{
    background-color: #374254;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

footer p{
    margin: 16px;
    font-weight: bold;
    color:#FFF ;
    font-size: 36px;
}

footer nav ul {
    text-align: right;
    padding: 16px 32px;
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;

}

footer a {
    text-decoration: none;
}

footer a {
    color:#EEEDE8 ;
    font-weight: 500;
    font-size: 16px;
}

footer nav ul a:hover {
    text-decoration: underline;
    color: #fff;
}
@media (max-width: 600px) {

    header p{
        font-size:20px ;
    }
    

    div.container{
        grid-template-columns: 1fr;
    
}
  }